body {
    background-image: linear-gradient(
        rgb(59, 88, 93),
        rgb(29, 40, 42)
    );
    height: 100vh;
    color: white;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    background-color: inherit;
    color: inherit;
    border: none;
    justify-content: space-between;
}

#below-cover {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 3em 0em 1.5em 0em;
}

#song-name {
    font-size: 1.7em;
    font-weight: bolder;
}

.light-color {
    color: rgb(139, 153, 156);
}

#button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}



.button {
    font-size: 1.5em;
    cursor: pointer;
}

.button-navigate {
    font-size: 3em;
}

.button-biggest {
    font-size: 4em;
}

#cover {
    width: 450px;
    align-items: center;
}

#playlist-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0.5em 0em 4em 0em;
}

#progress-bar {
    background-color: rgb(139, 153, 156);
    height: 5px;
    width: 100%;
    border-radius: 15px;
}

#current-progress {
    --progress: 0%;
    background-color: white;
    height: inherit;
    width: var(--progress);
    border-radius: inherit;
}

#progress-container {
    cursor: pointer;
}

#time-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: smaller;
    margin-top: 0.3em;
}

.button-active {
    color: rgb(22, 223, 82);
}